:root {
  --primary-color: rgba(0, 0, 0, 0.8);
  --secondary-color: rgba(106, 117, 132, 0.5);
  --tertiary-color: rgb(39, 181, 203);
  --accent-color: rgb(137, 232, 222);
  --font-color-light: rgb(229, 255, 252);
  --font-color-dark: rgb(51, 51, 51);
  --background-color: rgb(223, 252, 253);
  --border-color: rgb(15, 166, 221);
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--background-color);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 10px;
  font-size: 60px;
}

nav {
  font-size: 25px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding: 0 10px;
  padding-bottom: 10px;
}

/* ----------------------------------------------------------------*/
.glass-neon {
  color: var(--font-color-light);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
}

.glass-neon {
  animation: rgbGlow 5s linear infinite;
}

@keyframes rgbGlow {
  0% {
    box-shadow: 0 0 10px var(--secondary-color);
  }
  50% {
    box-shadow: 0 0 15px var(--tertiary-color);
  }
  100% {
    box-shadow: 0 0 10px var(--secondary-color);
  }
}
.cool-btn {
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cool-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(255, 130, 77, 0.4);
}

.cool-btn:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 5px 12px rgba(255, 130, 77, 0.4);
}

.cool-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );

  transition: left 0.5s ease;
}

.cool-btn:hover::before {
  left: 100%;
}

.cool-btn:active::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  animation: ripple 0.4s ease;
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* ----------------------------------------------------------------*/
.font-light {
  color: var(--font-color-light);
}
.font-dark {
  color: var(--font-color-dark);
}

header {
  background-color: var(--primary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
