@layer auth {
  body {
    height: 100vh;
    background-color: var(--background-color);
  }
  .main-card {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    background-color: var(--foreground-color);
    border: 1px solid var(--border-color);
    padding: 12px;
    border-radius: 12px;
  }

  .main-card header {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  .main-card div {
    text-align: center;
    padding: 6px;
  }

  .form {
    display: grid;
    gap: 8px;
  }

  .form-field {
    display: grid;
  }

  .form-field input {
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 8px;
  }

  .link {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition:
      color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
  }
  .link:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }

  /* #region Fancy Button */
  .container {
    display: flex;

    margin: 10px auto;
    width: fit-content;
    position: relative;
    padding: 3px;

    border-radius: 5px;
  }

  .fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1em 1.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.1s ease-in-out;
    user-select: none;
    font-size: 13px;
  }

  .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition:
      background 0.3s linear,
      width 0.3s linear;
  }

  .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.1s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }

  .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition:
      width 0.2s ease-out,
      left 0.1s ease-out;
  }

  .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition:
      width 0.2s ease-out,
      right 0.1s ease-out;
  }

  .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition:
      width 0.2s ease-out,
      right 0.1s ease-out;
  }

  .fancy:hover {
    color: white;
    background: black;
  }

  .fancy:hover::before {
    width: 0.9375rem;
    background: white;
  }

  .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
  }

  .fancy:hover .top-key {
    left: -2px;
    width: 0px;
  }

  .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
  }

  /* #endregion */
}
