@layer canvas {
  html {
    scroll-behavior: smooth;
  }
  body {
    zoom: 1;
    margin: 0;
    font:
      normal 75% Arial,
      Helvetica,
      sans-serif;
    background-color: var(--background-color);
  }
  header {
    position: fixed;
    height: var(--canvas-header-height);
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: var(--font-color-light);
    font-size: var(--font-small);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  a:hover {
    text-decoration: underline;
  }
  .left div,
  .right div {
    padding: 0 20px;
  }

  aside {
    position: fixed;
    top: var(--canvas-header-height);
    max-width: var(--aside-width);
    height: 100%;
    background-color: var(--background-color);
    display: grid;
    gap: 5px;
    padding-bottom: 70px;
    padding-top: 10px;
  }
  img {
    width: 75%;
  }
  aside button p {
    padding: 10px 5px;
    font-size: var(--font-mini);
  }
  aside button {
    outline: none;
    border: none;
  }
  .element-holder {
    max-width: 60px;
    background-color: var(--background-color);
  }
  .canvas-viewport {
    position: relative;
    transform-origin: top left;
    top: var(--canvas-header-height);
    z-index: -999;
    background-color: rebeccapurple;

    min-height: calc(100vh - var(--canvas-header-height));
    min-width: calc(100vw - var(--aside-width));
  }
}
